<!DOCTYPE html>
<html>
<head>
  <title>Shortr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<table width="100%">
		<tr>
			<td>
				<h1 style="display:inline;">Shortr</h1>
				<a href='/'>Home</a> | <a href='/'>Create</a> | <a href='/statistics/stats'>Statistics</a>
			</td>
			<td align="right">
				<%= form_tag("/index/expand", method: "get", :class => 'header_form' ) do %>
					<%= label_tag(:short, "Go to:") %>
					<%= text_field_tag(:short) %>
					<%= submit_tag("Go!") %>
				<% end %>
			</td>
		</tr>
	</table>
</div>

<%= yield %>

</body>
</html>